In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('comfort.csv')

In [3]:
df.columns

Index(['Entity', 'Code', 'Year',
       'Share - Question: mh5 - Someone local comfortable speaking about anxiety/depression with someone they know - Answer: Very comfortable - Gender: all - Age group: all',
       'Share - Question: mh5 - Someone local comfortable speaking about anxiety/depression with someone they know - Answer: Somewhat comfortable - Gender: all - Age group: all',
       'Share - Question: mh5 - Someone local comfortable speaking about anxiety/depression with someone they know - Answer: Don't know/Refused - Gender: all - Age group: all',
       'Share - Question: mh5 - Someone local comfortable speaking about anxiety/depression with someone they know - Answer: Not at all comfortable - Gender: all - Age group: all'],
      dtype='object')

In [4]:
df.columns = ['Entity', 'Code', 'Year', 
              'Very_comfortable', 'Somewhat_comfortable',
              'Dont_know', 'Not_comfortable']

In [5]:
df.head()

,Entity,Code,Year,Very_comfortable,Somewhat_comfortable,Dont_know,Not_comfortable
0,Africa,NaN,2020,31.021803,34.817074,7.530081,26.631048
1,Albania,ALB,2020,25.491678,38.334480,8.599926,27.573915
2,Algeria,DZA,2020,31.641382,46.207172,10.747551,11.403895
3,Argentina,ARG,2020,26.543772,42.311417,4.810892,26.333920
4,Asia,NaN,2020,24.826124,32.633120,16.018250,26.522500

In [6]:
df['Very_comfortable'].mean()

23.327630432520323

In [7]:
df['Very_comfortable'].describe()

count    123.000000
mean      23.327630
std       12.806816
min        2.713478
25%       13.360209
50%       21.583582
75%       28.214820
max       60.667377
Name: Very_comfortable, dtype: float64

In [8]:
datawrapper_df = df[['Entity', 'Very_comfortable']].copy()

In [9]:
datawrapper_df['Index'] = range(len(datawrapper_df))

In [10]:
datawrapper_df = datawrapper_df[['Index', 'Entity', 'Very_comfortable']]

In [11]:
datawrapper_df.to_csv('datawrapper_comfort.csv', index=False)

In [12]:
df = pd.read_csv('knowing_someone.csv')

In [13]:
df_clean = df[df['Year'] == 2020].copy()

In [14]:
 df_clean = df_clean[[
        'Entity',
        'Share - Question: mh6 - Friends/family have been anxious/depressed - Answer: Yes - Gender: all - Age group: all'
    ]].rename(columns={
        'Entity': 'country',
        'Share - Question: mh6 - Friends/family have been anxious/depressed - Answer: Yes - Gender: all - Age group: all': 'friends_family_anxiety_depression'
    })

In [15]:
df_clean['country'] = df_clean['country'].str.strip()

In [16]:
 df_clean = df_clean[~df_clean['country'].isin(['Africa', 'Asia', 'Europe', 'North America', 'South America', 'Oceania', 'World','high-income countries','Upper-middle-income countries','Lower-middle-income countries','Low-income countries'])]

In [18]:
df_clean = df_clean.dropna(subset=['friends_family_anxiety_depression'])

In [22]:
df_clean.insert(0, 'Index', range(len(df_clean)))

In [23]:
df_clean

       Index     country  friends_family_anxiety_depression
835        0     Albania                          28.002811
1173       1     Algeria                          20.884764
3069       2   Argentina                          53.234257
4549       3   Australia                          51.281860
4887       4     Austria                          42.142483
...      ...         ...                                ...
75583    109  Uzbekistan                          29.187244
76550    110   Venezuela                          60.228554
76888    111     Vietnam                          39.873585
78247    112      Zambia                          57.336536
78585    113    Zimbabwe                          45.036860

[114 rows x 3 columns]

In [24]:
df_clean.head()

      Index    country  friends_family_anxiety_depression
835       0    Albania                          28.002811
1173      1    Algeria                          20.884764
3069      2  Argentina                          53.234257
4549      3  Australia                          51.281860
4887      4    Austria                          42.142483

In [25]:
df_clean.to_csv('know_someone6.csv', index=False)